@using System.Collections.ObjectModel
@using Soenneker.Quark.Themes.Abstract

@inject IThemeProvider ThemeProvider

<style>
    @GetBootstrapVariableOverrides()
</style>

<div @attributes="AdditionalAttributes" >
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public ReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetBootstrapVariableOverrides()
    {
        try
        {
            return ThemeProvider.GenerateRootCss();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error generating Bootstrap variable overrides: {ex.Message}");
            return string.Empty;
        }
    }

}